$background: hsl(0, 0%, 21%);
$text: hsl(0, 0%, 96%);
$text-light: hsl(0, 0%, 86%);
$text-strong: hsl(0, 0%, 91%);
$footer-background-color: $background;
$card-background-color: hsl(0, 0%, 29%);

@use './components/header';
@use './components/cards';
@import '../../node_modules/bulma/bulma.sass';

:root {
    --background: #{$background};
    --dark: #{$grey-dark};
    --light: #{$text};
}

html { overflow-y: auto; }

body {
    background-color: $background;
    color: $white-ter;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

#root {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-card-title { color: $text; }

.footer .buttons { justify-content: space-between; }

.next-btn { margin-left: auto; }

.column .card { flex: 1; }

.image img { object-fit: cover; }

.logo-column {
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
        width: 200px;
        height: 200px;
    }
}

.logos {
    @extend .logo-column;
    align-items: flex-end;
    .image {
        height: 100px;
        width: 100px;
        &:last-child {
            transform: scale(0.85);
            margin-bottom: 4px;
        }
    }
    .middle-logo {
        height: 200px;
        width: 200px;
    }
}

.link {
    color: white;
    opacity: 0.8;
    &:hover {
        color: white;
        opacity: 1;
    }
}